
textarea {
    display: block;
    min-width: 60em;
}
body {
    margin-left: 2em;
    max-width: 50em;
}
h1 {
  text-align: center;
}
#speechTextArea {
    padding-top: 1em;
    width: 50em;
    min-height: 3em;
}
#scannedTextArea {
    white-space: pre;
}
.warning {
    background: #ebf;
}
.error {
    background: #fdd;
}
.error.accessibility {
    background: #fbb;
}
.error.archaic {
    background: #bfb;
}
.error.presentation {
    background: #ff8;
}

.error,
.warning {
  scroll-margin: 100px;
}

.error.accessible {
    background: #daa;
}
#mathmlTextArea {
    background: #eef;
    color: black;
}
#errorsDisplayArea {
    margin-top: 1em;
    padding: 0.5em 0;
    font-size: 120%;
    background: #f1fff1;
}

#edit_menu_holder {
    border: 2px solid #000;
    background: #fafafa;
    padding: 2px;
    position: absolute;
    top: -50;
    left: 10;
}

/* editing */

.error:focus {
    border: 1px solid #000;
    padding: 2px;
}
.option:focus {
    background: #fbf;;
}

.option {
    display: block;
}
