
textarea {
    display: block;
    min-width: 60em;
}
body {
    margin-left: 2em;
    max-width: 50em;
}
h1 {
  text-align: center;
}
#speechTextArea {
    padding-top: 1em;
    width: 50em;
    min-height: 3em;
}
#scannedTextArea {
    white-space: pre;
}
.warning {
    background: #ebf;
}
.error {
    background: #fdd;
}
#mathmlTextArea {
    background: #eef;
    color: black;
}
#errorsDisplayArea {
    margin-top: 1em;
    padding: 0.5em 0;
    font-size: 120%;
    background: #efe;
}

